// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

@backgroundBlue: dodgerblue;
@font-size: 2rem;
@border-radius: 8px;
@display: flex;
@justify-content: space-around;
@flex-direction-row: row;
@flex-direction-column: column;
@margin: 20px;
@marginCenter: 0 auto;
@align-items: flex-start;
@width: 800px;
@tableColor: #dddddd;




.container {
    width: 800px;
    margin: 50px auto;

    @media (max-width: 500px) {
        .bottomSection {
            display: @display;
            flex-direction: @flex-direction-column;
            width: 500px;
            margin: auto;
        }
    }

    header {
        width: 100%;

        .mainNav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            a {
                color: @backgroundBlue;
                font-size: 1.3rem;
                text-decoration: none;
            }
        }
    }


    .topSection {
        display: @display;
        flex-direction: @flex-direction-row;
        background: lightgrey;
        // border: 2px solid black;
        margin: 2rem;
        width: @width;
        margin: @marginCenter;

        .teamUp {
            background-color: #1a17179a;
            /* Green */
            padding: 20px;
            margin: @margin;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        p {
            margin: @margin;
        }

        img {
            display: @display;
            flex-direction: @flex-direction-row;
            padding: 20px;


        }

        div {
            margin: @margin;
        }

        h1 {
            display: @display;
            flex-direction: @flex-direction-row;
            font-size: @font-size;
            margin: @margin;
        }
    }

    .bottomSection {
        display: @display;
        justify-content: space-between;
        margin-bottom: 15px;

        .bottomSectionItem {
            width: 48%;
            display: @display;
            flex-direction: @flex-direction-column;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 25px;
        }

        .paragrpah {
            font-size: 20px;
            line-height: 28px;


        }

        h2 {
            font-size: @font-size;
            margin: 10px 0;
        }

        .skillItems {
            width: 100%;

            li {
                display: @display;
                justify-content: flex-start;
                padding: 12px 30px;
                border: 1px solid black;
                font-size: 17px;
            }

        }
    }

    .workHistory {
        display: @display;

        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;

            td {
                border: 1px solid @tableColor;
                padding: 8px;
                margin: @marginCenter;
            }

            th {
                border: 1px solid @tableColor;
                padding: 8px;
                margin: @marginCenter;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            tr:hover {
                background-color: #dddddd;
            }

            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: @backgroundBlue;
                color: white;
            }
        }
    }
}

footer {
    margin-top: 10px;
    text-align: center;
}